  @{
    Layout = "_Layout";
}
  
<div class="container">
  <form method="POST" action="/TampilHasil/Tampil">
        <div class="form-group">
            <label for="Nama">Nama :</label>
            <input type="text" class="form-control" name="Nama" />
        </div>
        <div class="form-group">
            <label for="Nim">Nim :</label>
            <input type="text" class="form-control" name="Nim" />
        </div>
        <div class="form-group">
            <label for="Prodi">Prodi :</label>
            <input type="text" class="form-control" name="Prodi" />
        </div>
        <div class="form-group">
            <label for="gender">Gender : </label>
            <label class="radio-inline">
                <input type="radio" name="gender" value="Male" checked>Male
            </label>
            <label class="radio-inline">
                <input type="radio" name="gender" value="Female">Female
            </label>
        </div>
        <div class="form-group">
            <label for="telp">Telp :</label>
            <input type="text" class="form-control" name="telp" />
        </div>
    </form>
  <form>
    <!--<div class="row">
        <h4>Data Diri</h4>
          <div class="input-group input-group-icon">
            <input type="text" placeholder="Nama Lengkap"/>-->
            <!--<div class="input-icon"><i class="fa fa-user"></i></div>-->
          <!--</div>
      <div class="input-group input-group-icon">
            <input type="text" placeholder="Nim"/>-->
            <!--<div class="input-icon"><i class="fa fa-envelope"></i></div>-->
      <!--</div>
      <div class="input-group input-group-icon">
            <input type="text" placeholder="Prodi"/>-->
            <!--<div class="input-icon"><i class="fa fa-key"></i></div>-->
      <!--</div>
    </div>
    <div class="row">
      <div class="col-half">
          <h4>Date of Birth</h4>
          <div class="input-group">
              <div class="col-third">
                <input type="text" placeholder="DD"/>
              </div>
              <div class="col-third">
                <input type="text" placeholder="MM"/>
              </div>
              <div class="col-third">
                <input type="text" placeholder="YYYY"/>
              </div>
          </div>
        </div>
      <div class="col-half">
        <h4>Gender</h4>
        <div class="input-group">
          <input type="radio" name="gender" value="male" id="gender-male"/>
          <label for="gender-male">Perempuan</label>
          <input type="radio" name="gender" value="female" id="gender-female"/>
          <label for="gender-female">Laki-Laki</label>
        </div>
      </div>
    </div>
    <div class="row">-->
      <!--<h4></h4>-->
      <!----<div class="input-group">
        <input type="radio" name="payment-method" value="card" id="payment-method-card" checked="true"/>
        <label for="payment-method-card"><span><i class="fa fa-cc-visa"></i>Credit Card</span></label>
        <input type="radio" name="payment-method" value="paypal" id="payment-method-paypal"/>
        <label for="payment-method-paypal"> <span><i class="fa fa-cc-paypal"></i>Paypal</span></label>
      </div>-->
      <button type="submit">Simpan</button>
   <button type="reset">Batal</button>

      
      <!--<div class="input-group input-group-icon">
        <input type="text" placeholder="Card Number"/>
        <div class="input-icon"><i class="fa fa-credit-card"></i></div>
      </div>
      <div class="col-half">
        <div class="input-group input-group-icon">
          <input type="text" placeholder="Card CVC"/>
          <div class="input-icon"><i class="fa fa-user"></i></div>
        </div>
      </div>
      <div class="col-half">
        <div class="input-group">
          <select>
            <option>01 Jan</option>
            <option>02 Jan</option>
          </select>
          <select>
            <option>2015</option>
            <option>2016</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <h4>Terms and Conditions</h4>
      <div class="input-group">
        <input type="checkbox" id="terms"/>
        <label for="terms">I accept the terms and conditions for signing up to this service, and hereby confirm I have read the privacy policy.</label>
      </div>-->
    </div>
  </form>
</div>
 <!-- <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  

    <script  src="js/index.js"></script>-->




