@{
    Layout = "_Layout";
}
 <section class="home_banner_area">
            <div class="banner_inner d-flex align-items-center">
					<img class="envatologo" height="800px" width="1500px" style="background-size:cover;text-align:center;" src="~/Images/banner/YesusKristus1.jpg">
				</div>
            </div>
        </section>
       
        	</div>
        </section>
        <!--================End Courses Area =================-->
        
        <!--================Latest Blog Area =================-->
        <section class="latest_blog_area p_120" >
        	<div class="container">
        		<div class="main_title">
        			<h2>Renungan</h2>
				</div>
				<!--<form method="POST" action="/TampilHasil/Tampil">-->
        <div class="form-group">
            <label for="Firstname">Judul :</label>
            <input type="text" class="form-control" name="Firstname" />
        </div>
        <div class="form-group">
            <label for="Lastname">Isi :</label>
            <input type="text" class="form-control" name="Lastname" />
        </div>
				
        <a herf = "TampilHasil.cs" target="Tampil"><button class="btn btn-primary">Submit</button></a>
				
        	</div>
        </section>
        <!--================End Latest Blog Area =================-->
        
        <!--================Impress Area =================-->
        <section class="impress_area p_120">
        	<div class="container">
        		<div class="impress_inner text-center">
					<h2>Become an instructor</h2>
					<p>There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think about setting up your own viewing station whether that is on the deck</p>
					<a class="main_btn2" href="#">Apply for the post</a>
        		</div>
        	</div>
        </section>