  @{
    Layout = "_Layout";
}
 <section class="home_banner_area">
            <div class="banner_inner d-flex align-items-center">
					<img class="envatologo" height="800px" width="1500px" style="background-size:cover;text-align:center;" src="~/Images/banner/YesusKristus1.jpg">
				</div>
            </div>
        </section>
       
        	</div>
        </section>
        <!--================End Courses Area =================-->
        
        <!--================Team Area =================-->
        <section class="team_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Badan Pengurus Harian KMK UKDW</h2>
        			
        		</div>
        		<div class="row team_inner">
        			<div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					<div class="team_img">
        						<img class="rounded-circle" src="~/Images/team/team-1.jpg" alt="">
        						<div class="hover">
        							<a href="#"><i class="fa fa-facebook"></i></a>
        							<a href="#"><i class="fa fa-twitter"></i></a>
        							<a href="#"><i class="fa fa-linkedin"></i></a>
        						</div>
        					</div>
        					<div class="team_name">
        						<h4>Fransiska Thea</h4>
        						<p>Biologi 2017</p>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					<div class="team_img">
        						<img class="rounded-circle" src="~/Images/team/team-2.jpg" alt="">
        						<div class="hover">
        							<a href="#"><i class="fa fa-facebook"></i></a>
        							<a href="#"><i class="fa fa-twitter"></i></a>
        							<a href="#"><i class="fa fa-linkedin"></i></a>
        						</div>
        					</div>
        					<div class="team_name">
        						<h4>Matius Krisna G</h4>
        						<p>Teknologi Informatika 2017</p>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					<div class="team_img">
        						<img class="rounded-circle" src="~/Images/team/team-3.jpg" alt="">
        						<div class="hover">
        							<a href="#"><i class="fa fa-facebook"></i></a>
        							<a href="#"><i class="fa fa-twitter"></i></a>
        							<a href="#"><i class="fa fa-linkedin"></i></a>
        						</div>
        					</div>
        					<div class="team_name">
        						<h4>Refi Restiani A</h4>
        						<p>Akuntansi 2017</p>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					<div class="team_img">
        						<img class="rounded-circle" src="~/Images/team/team-4.jpg" alt="">
        						<div class="hover">
        							<a href="#"><i class="fa fa-facebook"></i></a>
        							<a href="#"><i class="fa fa-twitter"></i></a>
        							<a href="#"><i class="fa fa-linkedin"></i></a>
        						</div>
        					</div>
        					<div class="team_name">
        						<h4>Maria Lestari</h4>
        						<p>Akuntansi 2017</p>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Team Area =================-->
        
        <!--================Testimonials Area =================-->
       
       
        <!--================End Testimonials Area =================-->
        
        <!--================Pagkages Area =================-->
        <section class="packages_area p_120">
        	<div class="container">
        		
        	</div>
        </section>
        <!--================End Pagkages Area =================-->
        
        <!--================Latest Blog Area =================-->
        <section class="latest_blog_area p_120" >
        	<div class="container">
        		<div class="main_title">
        			<h2>Divisi-Divisi KMK</h2>
				</div>
				<div>
						<p style="font-size: 20px">Divisi Humas</p>
						<p style="font-size: 20px">Koordinator  : Bonifacius Dani Yudha Permana / Teknologi Informatika 2018</p>
						<p style="font-size: 20px">Anggota      : </p>
						<p style="font-size: 20px">1.Valentina Riska Pratiwi / Biologi 2017</p>
						<p style="font-size: 20px">2.Albertus Cahya Putra / SI 2017</p>
				</div>
				<div>
						<p style="font-size: 20px">Divisi Liturgi/Kerohanian</p>
						<p style="font-size: 20px">Koordinator  : Augita Tri Clara S. Datu Rara/ Biologi 2018 </p>
						<p style="font-size: 20px">Anggota      : </p>
						<p style="font-size: 20px">1.Elisa Novensiana / SI 2017</p>
						<p style="font-size: 20px">2.Maria Anne Rista Fernandez / Akuntasi 2017</p>
						<p style="font-size: 20px">3.Thomas E. M Tongge / Manajemen 2018</p>
				</div>
				<div>
						<p style="font-size: 20px">Divisi PSP</p>
						<p style="font-size: 20px">Koordinator  : Leonadus Christanto / Arsitek 2017 </p>
						<p style="font-size: 20px">Anggota      : </p>
						<p style="font-size: 20px">1.Elva Miza Tarigan / Biologi 2018</p>
						<p style="font-size: 20px">2.Wuln Sari Sinaga / Biologi 2018</p>
				</div>
				<div>
						<p style="font-size: 20px">Divisi Kreatif dan Padus</p>
						<p style="font-size: 20px">Koordinator  : Yeremia Olivia Rahady / Akuntansi 2017 </p>
						<p style="font-size: 20px">Anggota      : </p>
						<p style="font-size: 20px">1.Ardianus Sarli / Manajemen 2018</p>
						<p style="font-size: 20px">2.Gregorius Sintia Tika Dewa / Biologi 2018</p>
				</div>
				<div>
						<p style="font-size: 20px">Divisi Design dan Dokumentasi</p>
						<p style="font-size: 20px">Koordinator  : Santria Agung Pratama / TI 2018</p>
						<p style="font-size: 20px">Anggota      : </p>
						<p style="font-size: 20px">1.Dekky Anggi Prambowo / DesPro 2018</p>
						<p style="font-size: 20px">2.Gersia Gita Perdianti / SI 2018</p>
				</div>
        	</div>
        </section>
        <!--================End Latest Blog Area =================-->
        
        <!--================Impress Area =================-->
        <section class="impress_area p_120">
        	<div class="container">
        		<div class="impress_inner text-center">
					<h2>Become an instructor</h2>
					<p>There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think about setting up your own viewing station whether that is on the deck</p>
					<a class="main_btn2" href="#">Apply for the post</a>
        		</div>
        	</div>
        </section>