@{
    Layout = "_Layout";
}
 <section class="home_banner_area blog_banner">
            <div class="banner_inner d-flex align-items-center">
            	<img class="overlay bg-parallax" height="800px" width="1500px" style="background-size:cover;text-align:center;" src="~/Images/banner/PerjamuanTerakhir.jpg">
				<div class="container">
					<!--<div class="blog_b_text text-center">
                                        
						<p>Ingin Bergabung Dengan Kami?</p>
						<a class="main_btn" href="@Url.Action("Pendaftaran","Account")">Klik Disini</a>
					</div>-->
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Blog Categorie Area =================-->
        <section class="blog_categorie_area">
            <div class="container">
                <div class="row">
                    <a class="main_btn" href="@Url.Action("Agenda","User")">Agenda</a>
                    <a class="main_btn" href="@Url.Action("Renungan","User")">Renungan</a>
                    <a class="main_btn" href="@Url.Action("Aboutus","User")">About us</a>
                </div>
            </div>
        </section>
        <!--================Blog Categorie Area =================-->
        
        <!--================Blog Area =================-->
       