 @{
    Layout = "_Layout";
}
 <section class="home_banner_area blog_banner">
            <div class="banner_inner d-flex align-items-center">
            	<img class="overlay bg-parallax" height="800px" width="1500px" style="background-size:cover;text-align:center;" src="~/Images/banner/PerjamuanTerakhir.jpg">
				<div class="container">
					<div class="blog_b_text text-center">
                                        
						<p>Ingin Bergabung Dengan Kami?</p>
						<a class="main_btn" href="@Url.Action("Pendaftaran","Account")">Klik Disini</a>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Blog Categorie Area =================-->
        <section class="blog_categorie_area">
            <div class="container">
                <div class="row">
                    
                </div>
            </div>
        </section>
        <!--================Blog Categorie Area =================-->
        
        <!--================Blog Area =================-->
        <section class="blog_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog_left_sidebar">
                            <article class="row blog_item">
                               <div class="col-md-3">
                                   <div class="blog_info text-right">
                                        <div class="post_tag">
                                            <a href="#">Food,</a>
                                            <a class="active" href="#">Technology,</a>
                                            <a href="#">Politics,</a>
                                            <a href="#">Lifestyle</a>
                                        </div>
                                        <ul class="blog_meta list">
                                            <li><a href="#">Mark wiens<i class="lnr lnr-user"></i></a></li>
                                            <li><a href="#">12 Dec, 2017<i class="lnr lnr-calendar-full"></i></a></li>
                                            <li><a href="#">1.2M Views<i class="lnr lnr-eye"></i></a></li>
                                            <li><a href="#">06 Comments<i class="lnr lnr-bubble"></i></a></li>
                                        </ul>
                                    </div>
                               </div>
                                <div class="col-md-9">
                                    <div class="blog_post">
                                        <img src="~/Images/blog/main-blog/m-blog-1.jpg" alt="">
                                        <div class="blog_details">
                                            <a href="single-blog.html"><h2>Astronomy Binoculars A Great Alternative</h2></a>
                                            <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction.</p>
                                            <a href="single-blog.html" class="white_bg_btn">View More</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="row blog_item">
                               <div class="col-md-3">
                                   <div class="blog_info text-right">
                                        <div class="post_tag">
                                            <a href="#">Food,</a>
                                            <a class="active" href="#">Technology,</a>
                                            <a href="#">Politics,</a>
                                            <a href="#">Lifestyle</a>
                                        </div>
                                        <ul class="blog_meta list">
                                            <li><a href="#">Mark wiens<i class="lnr lnr-user"></i></a></li>
                                            <li><a href="#">12 Dec, 2017<i class="lnr lnr-calendar-full"></i></a></li>
                                            <li><a href="#">1.2M Views<i class="lnr lnr-eye"></i></a></li>
                                            <li><a href="#">06 Comments<i class="lnr lnr-bubble"></i></a></li>
                                        </ul>
                                    </div>
                               </div>
                                <div class="col-md-9">
                                    <div class="blog_post">
                                        <img src="~/Images/blog/main-blog/m-blog-2.jpg" alt="">
                                        <div class="blog_details">
                                            <a href="single-blog.html"><h2>The Basics Of Buying A Telescope</h2></a>
                                            <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction.</p>
                                            <a href="single-blog.html" class="white_bg_btn">View More</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="row blog_item">
                               <div class="col-md-3">
                                   <div class="blog_info text-right">
                                        <div class="post_tag">
                                            <a href="#">Food,</a>
                                            <a class="active" href="#">Technology,</a>
                                            <a href="#">Politics,</a>
                                            <a href="#">Lifestyle</a>
                                        </div>
                                        <ul class="blog_meta list">
                                            <li><a href="#">Mark wiens<i class="lnr lnr-user"></i></a></li>
                                            <li><a href="#">12 Dec, 2017<i class="lnr lnr-calendar-full"></i></a></li>
                                            <li><a href="#">1.2M Views<i class="lnr lnr-eye"></i></a></li>
                                            <li><a href="#">06 Comments<i class="lnr lnr-bubble"></i></a></li>
                                        </ul>
                                    </div>
                               </div>
                                <div class="col-md-9">
                                    <div class="blog_post">
                                        <img src="~/Images/blog/main-blog/m-blog-3.jpg" alt="">
                                        <div class="blog_details">
                                            <a href="single-blog.html"><h2>The Glossary Of Telescopes</h2></a>
                                            <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction.</p>
                                            <a href="single-blog.html" class="white_bg_btn">View More</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="row blog_item">
                               <div class="col-md-3">
                                   <div class="blog_info text-right">
                                        <div class="post_tag">
                                            <a href="#">Food,</a>
                                            <a class="active" href="#">Technology,</a>
                                            <a href="#">Politics,</a>
                                            <a href="#">Lifestyle</a>
                                        </div>
                                        <ul class="blog_meta list">
                                            <li><a href="#">Mark wiens<i class="lnr lnr-user"></i></a></li>
                                            <li><a href="#">12 Dec, 2017<i class="lnr lnr-calendar-full"></i></a></li>
                                            <li><a href="#">1.2M Views<i class="lnr lnr-eye"></i></a></li>
                                            <li><a href="#">06 Comments<i class="lnr lnr-bubble"></i></a></li>
                                        </ul>
                                    </div>
                               </div>
                                <div class="col-md-9">
                                    <div class="blog_post">
                                        <img src="~/Images/blog/main-blog/m-blog-4.jpg" alt="">
                                        <div class="blog_details">
                                            <a href="single-blog.html"><h2>The Night Sky</h2></a>
                                            <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction.</p>
                                            <a href="single-blog.html" class="white_bg_btn">View More</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="row blog_item">
                               <div class="col-md-3">
                                   <div class="blog_info text-right">
                                        <div class="post_tag">
                                            <a href="#">Food,</a>
                                            <a class="active" href="#">Technology,</a>
                                            <a href="#">Politics,</a>
                                            <a href="#">Lifestyle</a>
                                        </div>
                                        <ul class="blog_meta list">
                                            <li><a href="#">Mark wiens<i class="lnr lnr-user"></i></a></li>
                                            <li><a href="#">12 Dec, 2017<i class="lnr lnr-calendar-full"></i></a></li>
                                            <li><a href="#">1.2M Views<i class="lnr lnr-eye"></i></a></li>
                                            <li><a href="#">06 Comments<i class="lnr lnr-bubble"></i></a></li>
                                        </ul>
                                    </div>
                               </div>
                                <div class="col-md-9">
                                    <div class="blog_post">
                                        <img src="~/Images/blog/main-blog/m-blog-5.jpg" alt="">
                                        <div class="blog_details">
                                            <a href="single-blog.html"><h2>Telescopes 101</h2></a>
                                            <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction.</p>
                                            <a href="single-blog.html" class="white_bg_btn">View More</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <nav class="blog-pagination justify-content-center d-flex">
		                        <ul class="pagination">
		                            <li class="page-item">
		                                <a href="#" class="page-link" aria-label="Previous">
		                                    <span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-left"></span>
		                                    </span>
		                                </a>
		                            </li>
		                            <li class="page-item"><a href="#" class="page-link">01</a></li>
		                            <li class="page-item active"><a href="#" class="page-link">02</a></li>
		                            <li class="page-item"><a href="#" class="page-link">03</a></li>
		                            <li class="page-item"><a href="#" class="page-link">04</a></li>
		                            <li class="page-item"><a href="#" class="page-link">09</a></li>
		                            <li class="page-item">
		                                <a href="#" class="page-link" aria-label="Next">
		                                    <span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-right"></span>
		                                    </span>
		                                </a>
		                            </li>
		                        </ul>
		                    </nav>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <aside class="single-sidebar-widget tag_cloud_widget">
                                <h4 class="widget_title">Anggota</h4>
                                <ul class="data">
                                    <tr>
                                        <td width="25px">No</td>
                                        <td width="100px">NIM</td>
                                        <td> Nama</td>
                                    </tr>
                                </ul>
                            </aside>
                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title">Kalender</h4>
                                <ul class="list cat-list">
                                        <div class="coloumn">
                                                <div id="kalender">
                                                    <table class="calendar">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div id="pMonth"><</div>
                                                                    </td>
                                                                    <td colspan="20" align="center">
                                                                        <span id="cMonth">April 2019</span>
                                                                    </td>
                                                                    <td>
                                                                    <div id="nMonth">></div>
                                                            </tr>
                                                            <tr style="font-weight: bold">
                                                                <td>Minggu</td>
                                                                <td>Senin</td>
                                                                <td>Selasa</td>
                                                                <td>Rabu</td>
                                                                <td>Kamis</td>
                                                                <td>Jum'at</td>
                                                                <td>Sabtu</td>
                                                            </tr>
                                                            <td></td>
                                                            <td class="tgl" style="background-color:white;color: purple;">1</td>
                                                            <td class="tgl" style="background-color:aquamarine;color: palevioletred;">2</td>
                                                            <td class="tgl" style="background-color:white;color: palevioletred;">3</td>
                                                            <td class="tgl" style="background-color:aquamarine;color: palevioletred;">4</td>
                                                            <td class="tgl" style="background-color:aquamarine;color: palevioletred;">5</td>
                                                            <td class="tgl" style="background-color:white;color: purple;">6</td>
                                                            </tr>
                                                            <tr>
                                                            <td class="tgl" style="background-color:white;color:red;">7</td>
                                                            <td class="tgl" style="background-color:white;color: purple;">8</td>
                                                            <td class="tgl" style="background-color:white;color: purple;">9</td>
                                                            <td class="tgl" style="background-color:white;color: purple;">10</td>
                                                            <td class="tgl" style="background-color:aquamarine;color: palevioletred;">11</td>
                                                            <td class="tgl" style="background-color:white;color: purple;">12</td>
                                                            <td class="tgl" style="background-color:aquamarine;color: palevioletred;">13</td>
                                                            </tr>
                                                            <tr>
                                                            <td class="tgl" style="background-color:aquamarine;color:red;">14</td>
                                                            <td class="tgl" style="background-color:white;color: palevioletred;">15</td>
                                                            <td class="tgl" style="background-color:white;color: palevioletred;">16</td>
                                                            <td class="tgl" style="background-color:white;color: palevioletred;">17</td>
                                                            <td class="tgl" style="background-color:aquamarine;color: palevioletred;">18</td>
                                                            <td class="tgl" style="background-color:aquamarine;color:red;">19</td>
                                                            <td class="tgl" style="background-color:aquamarine;color: palevioletred;">20</td>
                                                            </tr>
                                                            <tr>
                                                            <td class="tgl" style="background-color:aquamarine;color:red;">21</td>
                                                            <td class="tgl" style="background-color:white;color: palevioletred;">22</td>
                                                            <td class="tgl" style="background-color:white;color: palevioletred;">23</td>
                                                            <td class="tgl" style="background-color:white;color: palevioletred;">24</td>
                                                            <td class="tgl" style="background-color:white;color: palevioletred;">25</td>
                                                            <td class="tgl" style="background-color:white;color: palevioletred;">26</td>
                                                            <td class="tgl" style="background-color:white;color: palevioletred;">27</td>
                                                            </tr>
                                                            <tr>
                                                            <td class="tgl" style="background-color: white;color:red;">28</td>
                                                            <td class="tgl" style="background-color:aquamarine;color: palevioletred;">29</td>
                                                            <td class="tgl" style="background-color:aquamarine;color: palevioletred;">30</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    </div>
                                                    </div>
                                    												
                                </ul>
                                <div class="br"></div>
                            </aside>
                            <aside class="single-sidebar-widget newsletter_widget">
                                <h4 class="widget_title">Agenda</h4>
                                <div class="coloumn">
                                        <p id="date2">
                                            <h3>Daftar Acara Besar dan Peringatan 2019</h3>
                                            <p>2 April 2019</p>
                                            <h4> Fransikus dari Paola</h4>
                                            <p> 4 April 2019</p>
                                            <h4> Isidorus</h4>
                                            <p> 11 April 2019</p>
                                            <h4> Stanislaus</h4>
                                            <p> 13 April 2019</p>
                                            <h4> Martinus I</h4>
                                            <p> 14 April 2019</p>
                                            <h4> Hari Minggu Palma</h4>
                                            <p> 15 April 2019</p>
                                            <h4> Kamis Putih </h4>
                                            <p> 19 April 2019</p>
                                            <h4> Jum'at Agung</h4>
                                            <p> 20 April 2019</p>
                                            <h4> Sabtu Suci</h4>
                                            <p> 21 April 2019</p>
                                            <h4> Hari Raya Paskah; Hari Kenaikan Tuhan</h4>
                                            <p> 29 April 2019</p>
                                            <h4> Peringatan Wajib St Katarina dari Siena</h4>
                                            <p> 30 April 2019</p>
                                            <h4> Peringatan Pius V. Benedictus dari Ubrino; Maria dari Ikrnasi</h4>
                                            </span>
                                        </p>
                                        </div>
                                <div class="br"></div>							
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>