@model Web_KMK.Models.Renungan
@{
    Layout = "_Layout";
}

<div class="container body-content">

<div class="row text-center">
    
        <div class="col-md-12">
            <h2 asp-for="judul"></h2>
            <br>
            <br>
            <hr>
            <br>
            <br>
            <p asp-for="isi">
               
            </p>
        </div>
        
   
</div>

</div>